<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SFCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>553EF7891F137AB300B3BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553EF7A21F137AB300B3BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553EF7AD1F137AB300B3BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
